/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1w7wve');
    src: url('../fonts/icomoon.eot?1w7wve#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1w7wve') format('truetype'),
    url('../fonts/icomoon.woff?1w7wve') format('woff'),
    url('../fonts/icomoon.svg?1w7wve#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    position: relative;
    float: left;
}
.login-user {
    display: block;
    position: relative;
    height: 31px;
    padding-left: 8px;
    padding-right: 50px;
    background-color: #fff;
}
.login-user li span {
    position: absolute;
    right: 12px;
    top: 7px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    transform: rotate(45deg);
}
.userinfo {
    display: none;
    position: absolute;
    top: 31px;
    left: 0;
    width: 280px;
    padding: 20px;
    background-color: #fff;
    z-index: 50;
}
.userinfo .u-exit {
    height: 20px;
    line-height: 20px;
}
.userinfo .u-msg {
    position: relative;
    height: 60px;
    margin-top: 15px;
}
.userinfo .u-msg .u-pic {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.userinfo .u-msg .u-pic img {
    display: block;
    width: 60px;
    height: auto;
}
.userinfo .u-msg .u-info {
    height: 60px;
    padding-left: 70px;
    line-height: 60px;
}
.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

/*快捷导航模块*/
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 13px;
    background-color: #666;
    margin: 9px 15px;
}

.arrow-icon::after {
    content: "\e904";
    margin-left: 6px;
    font-family: "icomoon";
}

/* header 头部制作*/
.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    overflow: hidden;
    width: 171px;
    height: 61px;
    background: url("../images/logo.png") no-repeat;
    text-indent: -9999px;
}

.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    color: #fff;
    font-size: 16px;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    text-align: center;
}

.shopcar::before {
    content: "\e900";
    margin-right: 5px;
    font-family: 'icomoon';
    color: #b1191a;

}

.shopcar::after {
    content: "\e906";
    margin-left: 10px;
    font-family: 'icomoon';
}

.count {
    position: absolute;
    top: -5px;
    left: 100px;
    height: 14px;
    line-height: 14px;
    background-color: #e60012;
    padding: 0 5px;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.nav .dropdown .dt {
    width: 100%;
    height: 100%;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.nav .dropdown .dd {
    width: 210px;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.nav .dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}

.nav .dropdown .dd ul li::after {
    content: "\e906";
    position: absolute;
    right: 10px;
    top: 1px;
    margin-left: 10px;
    font-family: 'icomoon';
    color: #fff;
    font-size: 14px;
}

.nav .dropdown .dd ul li:hover {
    background-color: #fff;
}

.nav .dropdown .dd ul li a {
    color: #fff;
    font-size: 14px;
}

.nav .dropdown .dd ul li:hover a {
    color: #c81623;
}

.nav .navitems {
    float: left;
}

.nav .navitems ul li {
    float: left;
}

.nav .navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 16px;
}

/* 底部模块制作 */
.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}

.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    background: url("../images/icons.png") no-repeat;
}

.mod_service ul li:nth-child(1) h5 {
    background-position: -252px -2px;
}

.mod_service ul li:nth-child(2) h5 {
    background-position: -254px -53px;
}

.mod_service ul li:nth-child(3) h5 {
    background-position: -256px -105px;
}

.mod_service ul li:nth-child(4) h5 {
    background-position: -258px -157px;
}

.mod_service ul li:nth-child(5) h5 {
    background-position: -256px -208px;
}

.service_txt h4 {
    margin-top: 5px;
    font-size: 14px;
}

.service_txt p {
    font-size: 12px;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}

.mod_help dl {
    float: left;
    width: 200px;
}

.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}

.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.mod_copyright {
    padding-top: 20px;
    text-align: center;

}

.mod_copyright .links {
    margin-bottom: 15px;
}

.mod_copyright .links a {
    margin: 0 3px;
}

.mod_copyright .copyright {
    line-height: 20px;
}