.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

header .logo {
    padding-top: 18px;
}

.registerarea {
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #c81523;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: #c81523;
}

.error_icon,
.success_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/cuo.svg") no-repeat;
    background-size: 20px 20px;
    margin-top: -2px;
    vertical-align: middle;
}

.success {
    color: #0f0;
}

.success_icon {
    background-image: url("../images/dui.svg");
}

.reg_form ul li:nth-child(3) {
    margin-bottom: 10px;
}

.safe {
    padding-left: 163px
}

.safe em {
    padding: 0 12px;
    color: #fff;
}

.young {
    background-color: #de1111;
}

.medium {
    background-color: #40b83f;
}

.strong {
    background-color: #f79100;
}

.agree {
    padding-left: 90px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.submit {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    color: #fff;
    font-size: 14px;
    margin: 30px 0 0 90px;
}

.mod_copyright {
    padding-top: 20px;
    text-align: center;

}

.mod_copyright .links {
    margin-bottom: 15px;
}

.mod_copyright .links a {
    margin: 0 3px;
}

.mod_copyright .copyright {
    line-height: 20px;
}